<Alloy>
	<View class="page">
		<Widget id="nav" src="navigation_group"/>
		<View class="body">
			
			<View class="button button-logout" onClick="logout">
				<ImageView class="button-icon icon-logout"/>
				<Label class="button-label">Log out</Label>
			</View>
			
			<View class="button button-credits">
				<ImageView class="button-icon icon-credits"/>
				<Label class="button-label">Credits</Label>
			</View>
			
			<View class="button button-delete">
				<ImageView class="button-icon icon-delete"/>
				<Label class="button-label">Delete Account</Label>
			</View>
			
			<!--TODO for test-->
			<View class="user_info">
                <Label class="button-label" id="name">Username</Label>
                <Label class="button-label" id="email">Email</Label>
                <Label class="button-label" id="userId">User Id</Label>
            </View>

			<Label class="button-label version" >Version 2.0.2 - Jan 20, 2014</Label>
		</View>
	</View>
</Alloy>